<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Actions</key>
        <array>
            <dict>
                <key>After</key>
                <string>paste-result</string>
                <key>Image File</key>
                <string>vim.png</string>
                <key>Long Running</key>
                <true/>
                <key>Shell Script File</key>
                <string>vim.sh</string>
                <key>Title</key>
                <string>open with vim</string>
            </dict>
        </array>
        <key>Extension Identifier</key>
        <string>me.igeeks.vim</string>
        <key>Extension Name</key>
        <string>vim</string>
        <key>Required Software Version</key>
        <integer>1</integer>
    </dict>
</plist>
